<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74565887128-bmivfk3c3pq8cf7kiktg599a2bi56rdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74565887128-bmivfk3c3pq8cf7kiktg599a2bi56rdf</string>
	<key>API_KEY</key>
	<string>AIzaSyAlN8Z-Nf74uT__shf0IIUwgiY8cvDa5sU</string>
	<key>GCM_SENDER_ID</key>
	<string>74565887128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.utopica.lojavirtual</string>
	<key>PROJECT_ID</key>
	<string>loja-virtual-4da2f</string>
	<key>STORAGE_BUCKET</key>
	<string>loja-virtual-4da2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74565887128:ios:e152ca8ee5ccd022e95ced</string>
	<key>DATABASE_URL</key>
	<string>https://loja-virtual-4da2f.firebaseio.com</string>
</dict>
</plist>